<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">>
<head>
  <meta charset="UTF-8">
  <title>Регистрация пользователя</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
  <h1>Регистрация пользователя</h1>
  <form th:method="POST" th:action="@{/templates/auth/registration}" th:object="${person}">
    <div class="form-group">
      <label for="name">Имя</label>
      <input type="text" th:field="*{name}" id="name"/>
    </div>
    <div class="form-group">
      <label for="surname">Фамилия</label>
      <input type="text" th:field="*{surname}" id="surname"/>
    </div>
    <div class="form-group">
      <label for="yearOfBirth">Год рождения</label>
      <input type="text"  th:field="*{yearOfBirth}" id="yearOfBirth"/>
    </div>
    <div class="form-group">
      <label for="class">Класс</label>
      <select id="class" name="class" required>
        <option value="">Выберите класс</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
      </select>
    </div>
    <div class="form-group">
      <label for="role">Должность</label>
      <select id="role" name="role" required>
        <option value="">Выберите должность</option>
        <option th:value="student">Ученик</option>
        <option th:value="teacher">Учитель</option>
        <option th:value="admin">Администрация</option>
      </select>
    </div>
    <div class="form-group">
      <label for="password">Пароль</label>
      <input type="password" th:field="*{password}" id="password"/>
    </div>
    <button type="submit" class="btn">Зарегистрироваться</button>
  </form>
</div>
</body>
</html>
